h1{
  text-align: center;  
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
h2{
  text-align: center;  
  font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
}

div{
    border: solid rgb(140, 140, 248);
    border-radius: 5px;
    
}
p{
    font-weight: bold;
     font-family:Arial, Helvetica, sans-serif;
}
#Click {

 font-family:Arial, Helvetica, sans-serif;
 background-color: aqua;
 border-radius: 5px;

}